<div class="login-wrapper">
    <div class="login">
      <section class="title">
        <h3 class="welcome">Welcome to</h3>
        Company Product Name
        <h5 class="hint">Use your Company ID to sign in or create one now</h5>
      </section>
      <div class="login-group">
        <!-- <clr-select-container>
          <label class="clr-sr-only">User Role</label>
          <select clrSelect name="type" [(ngModel)]="form.type">
            <option value="local">Local Users</option>
            <option value="admin">Administrator</option>
          </select>
        </clr-select-container> -->
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input type="text" name="username" clrInput (keyup)="onKeyEnter($event)" placeholder="Username" [(ngModel)]="form.username" />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input type="password" name="password" (keyup)="onKeyEnter($event)" clrPassword placeholder="Password" [(ngModel)]="form.password" />
        </clr-password-container>
        <div class="error active" *ngIf="isError">
          Invalid user name or password
        </div>
        <button (click)="onClickLogin()" class="btn btn-primary" [disabled]="!form.username || !form.password">Login</button>
        <a href="javascript://" class="signup">Sign up for a Company ID</a>
      </div>
    </div>
  </div>